@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	overscroll-behavior: none;
	overflow: hidden;
}

@layer components {
	.dp-caption {
		@apply text-primary flex justify-between items-center pb-2;
	}
	.dp-caption-label {
		@apply font-bold text-2xl pl-2.5;
	}
	.dp-btn {
		@apply btn btn-ghost btn-circle;
	}
	.dp-bookmarked {
		@apply btn-secondary bg-primary;
	}
	.dp-selected-day {
		@apply btn-primary;
	}
	.dp-outside-day {
		@apply opacity-30;
	}
	.dp-today {
		@apply font-extrabold;
	}
	.dp-nav {
		@apply flex gap-1;
	}
	.dp-nav-btn {
		@apply btn-square;
	}
	.dp-table {
		@apply border-separate border-spacing-1;
	}
}

.clip-path-left {
	clip-path: polygon(0 0, 0% 100%, 100% 0);
}

.clip-path-right {
	clip-path: polygon(100% 100%, 0% 100%, 100% 0);
}

.gutter-stable {
	scrollbar-gutter: stable;
}

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	@apply bg-base-100;
}

/* Handle */
::-webkit-scrollbar-thumb {
	@apply bg-primary rounded-badge hover:bg-primary/75 active:bg-primary/60;
}

/* Loader styles */
.loader {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	max-width: 6rem;
	margin-top: 3rem;
	margin-bottom: 3rem;
}
.loader:before,
.loader:after {
	content: '';
	position: absolute;
	border-radius: 50%;
	animation: pulsOut 1.8s ease-in-out infinite;
	filter: drop-shadow(0 0 1rem var(--fallback-p, oklch(var(--p) / 0.75)));
}
.loader:before {
	width: 100%;
	padding-bottom: 100%;
	box-shadow: inset 0 0 0 1rem var(--fallback-p, oklch(var(--p)));
	animation-name: pulsIn;
}
.loader:after {
	width: calc(100% - 2rem);
	padding-bottom: calc(100% - 2rem);
	box-shadow: 0 0 0 0 var(--fallback-p, oklch(var(--p)));
}

@keyframes pulsIn {
	0% {
		box-shadow: inset 0 0 0 1rem var(--fallback-p, oklch(var(--p)));
		opacity: 1;
	}
	50%,
	100% {
		box-shadow: inset 0 0 0 0 var(--fallback-p, oklch(var(--p)));
		opacity: 0;
	}
}

@keyframes pulsOut {
	0%,
	50% {
		box-shadow: 0 0 0 0 var(--fallback-p, oklch(var(--p)));
		opacity: 0;
	}
	100% {
		box-shadow: 0 0 0 1rem var(--fallback-p, oklch(var(--p)));
		opacity: 1;
	}
}
